.top_categories
{
    font: normal normal normal 41px/45px Open Sans;
    
}
.custom_back_cate{
    padding-top: 20px;
    padding-bottom: 20px;

}
.btn_enroll_now{
    float: right;
    position: relative;
    top: -30px;
    right: 198px;
    background: #FFF;
    padding: 16px 54px;
    border: 1px solid #3c404c;
    border-radius: 5px;
}
.btn_enroll_now:hover{
    cursor: pointer;
    background: #3c404c;
    color: #FFF;
}

.category_div {
    display: flex;
    margin-top: 20px;
   
  }
  .category_div > div {
    flex: 1; /*grow*/
  }
  .cat_row
  {
    padding-right: 90px;
    margin-bottom: 20px;
  }
  .card-item
  {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0px 9px 0 rgb(0 0 0 / 10%);
    max-width: 256px;
    margin-right: 20px;
  }
  .card-item:hover{
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
    transform: scale(1.1);
  }
  .card-item .img
  {

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .card-item-footer
  {
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    text-align: center;
    padding: 10px;
  }
  .top_categories_main{
    margin: 0 5% 0 5%;
  }