.custom_back_client{

    margin-top: 200px;
}
.client-card-item{
    margin: 10px;
    
}
.card-item-1{
    background-image: url('../img/client-1.jpg');
    
    background-repeat: no-repeat;
    width: 268px;
    height: 120px;
}
.card-item-2{
    background-image: url('../img/client-2.jpg');
    background-repeat: no-repeat;
    width: 232px;
    height: 120px;
}
.card-item-3{
    background-image: url('../img/client-3.jpg');
    background-repeat: no-repeat;
    width: 112px;
    height: 120px;
}
.card-item-4{
    background-image: url('../img/client-4.jpg');
   
    background-repeat: no-repeat;
    width: 232px;
    height: 120px;
}
.card-item-5{
    background-image: url('../img/client-5.jpg');
  
    background-repeat: no-repeat;
    width: 211px;
    height: 120px;
}